@model ProjectDekerfsteve.evenement

@{
    ViewBag.Title = "Details";
}



<div>
    <h2>@Html.ViewData.Model.naam</h2>
    <hr />
<div class="text-center">
    <dl class="">
       
       
        <dt>
            @Html.DisplayNameFor(model => model.beschrijving)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.beschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gemeente.naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gemeente.naam)
        </dd>
        @if (ViewBag.aantalIngeschreven < Model.Max_inschrijvingen)
        {
            <dt class="text-info" style="color: green">
                @Html.DisplayName("Reeds ingeschreven")
            </dt>
        }
        else
        {
            <dt class="text-info" style="color: red">
                @Html.DisplayName("Reeds ingeschreven")
            </dt>
        }
        <dd>
            <label>@ViewBag.aantalIngeschreven / </label>
            @Html.DisplayFor(model => model.Max_inschrijvingen)

        </dd>

    </dl>

</div>
</div>

    <div class="text-center">
    @if (User.IsInRole("Admin") || User.IsInRole("Organisator"))
    {
        <button class="btn-lg">@Html.ActionLink("Edit", "Edit", new { id = Model.id })</button>
    }
    @if (User.IsInRole("Lid") && (ViewBag.aantalIngeschreven < Model.Max_inschrijvingen))
    {

        <button class="btn-lg"> @Html.ActionLink("Inschrijven", "Subscribe", Model)</button>
    }
    <button class="btn-lg">@Html.ActionLink("Back to List", "Index")</button>
    </div>
