@using System.Data
@using System.Diagnostics.Eventing.Reader
@using System.Globalization
@using System.Runtime.Serialization
@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@model List<evenement>
@{
    ViewBag.Title = "Overzicht";
}
<div class="col-lg-12">
    <table class="table">
        @{ var wissel = "";}
        @foreach (var item in Model)
        {
            var maand = @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.datum.Month);
            <tr>


                @if (wissel != maand)
                {
                    wissel = maand;
                    <td>@maand @item.datum.Year</td>

                }
                else
                {
                    <td></td>
                }

                <td>
                    @Html.ActionLink(item.naam, "Details", new { id = item.id })
                </td>
                <td>
                    <p>@item.beschrijving</p>
                </td>
                <td>
                    <p>Waar: @item.gemeente.naam</p>
                    <p>Wanneer: @item.datum</p>
                    <p>totaal plaatsen: @item.Max_inschrijvingen</p>
                </td>


            </tr>
        }
 




    </table>
    @if (User.IsInRole("Admin") || User.IsInRole("Organisator"))
    {
        <div class="text-center">
            <button class="btn-lg">
                @Html.ActionLink("Create New", "Create")
            </button>
        </div>
    }
</div>

